.pokemonType {
  background-color: #e0f1fd;
}

.pokemonType .rock {
  background-color: rgb(148, 81, 81);
}
.pokemonType .ghost {
  background-color: rgb(247, 247, 247);
}
.pokemonType .electric {
  background-color: rgb(255, 255, 161);
}
.pokemonType .bug {
  background-color: #f6d6a7;
}
.pokemonType .poison {
  background-color: #e0a7f6;
}
.pokemonType .normal {
  background-color: #f4f4f4;
}
.pokemonType .fairy {
  background-color: rgba(255, 192, 203, 0pokemonType.863);
}
.pokemonType .fire {
  background-color: #fbe3df;
}
.pokemonType .grass {
  background-color: #e2f9e1;
}
.pokemonType .water {
  background-color: #e0f1fd;
}
